/* You can add global styles to this file, and also import other style files */

.apexcharts-legend{
    top: auto !important;
    overflow:hidden !important;
    position:relative !important;
    row-gap: 12px;
    left:0 !important;
  }

    .apexcharts-tooltip{
    position:absolute !important;
  }

  .apex-charts div{
    min-height: initial !important;   
    height:auto !important;    
  }

.margin-table-top{
    margin-top: 20px;
}
.align-items-right{
  text-align:right;
}

